* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #2b5329da;
  transition: background 0.5s ease-in-out;
}

.header {
  position: absolute;
  top: 20px;
  left: 20px;
}

#title-game {
  font-size: 2.5rem;
}

button {
  font-size: 1rem;
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button.regular {
  background: linear-gradient(90deg, #56c9ff, #5a4ff7);
  color: white;
}

button.regular:hover {
  background: linear-gradient(90deg, #317a9c, #251f72);
  color: white;
}

button.fruits {
  background: linear-gradient(90deg, #ffa726, #ff7043);
  color: white;
}

button.fruits:hover {
  background: linear-gradient(90deg, #a76d17, #973e23);
  color: white;
}

.card {
  position: relative;
  width: 100px;
  height: 140px;
  perspective: 1000px;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 2.5s;
}

.card img {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
}

.card-front {
  transform: rotateY(180deg);
}
.card.flipped .card-front {
  transform: rotateY(0);
}

.card.flipped .card-back {
  transform: rotateY(180deg);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.21rem;
  justify-content: center;
}

.card-element {
  transform: scale(0.7);
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 00.2);
}

.card-element:hover {
  transform: scale(0.8);
  box-shadow: 0 8px 16px rgba(0, 0, 0.3);
  cursor: pointer;
}

.game-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#total-clicks,
#timer {
  font-size: 3rem;
}

#timer {
  margin-right: 11.5rem;
}

#restart-stop-watch {
  position: absolute;
  right: 20px;
  bottom: 5px;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  background-color: rgb(52, 24, 212);
  margin-top: 2rem;
  margin-left: 5rem;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

#restart-stop-watch:hover {
  position: absolute;
  right: 20px;
  bottom: 5px;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  background-color: rgb(31, 13, 128);
  margin-top: 2rem;
  margin-left: 5rem;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

#switch-theme {
  padding: 1rem;
  background-color: orangered;
  border: none;
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
  border-radius: 0.6rem;
}
#switch-theme:hover {
  padding: 1rem;
  background-color: rgb(121, 39, 9);
  border: none;
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
  border-radius: 0.6rem;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  opacity: 1;
  transition: opacity 0s ease-in-out;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin: 1rem 2rem;
}

.level-button {
  padding: 1rem 2rem;
  margin: 0.7rem;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.level-button:hover {
  opacity: 0.8;
}

.level-button.active {
  background-color: #333;
  color: #fff;
}

#easy-level {
  background-color: #40cc44;
  color: white;
}

#easy-level:hover {
  background-color: #105214;
}

#medium-level {
  background-color: #ce5d1b;
  color: white;
}

#medium-level:hover {
  background-color: #77350f;
}

#hard-level {
  background-color: #d31c0f;
  color: white;
}

#hard-level:hover {
  background-color: #5e0c0c;
}
